<%- include("partials/header") -%>
<!-- CSS custom link -->
<link rel="stylesheet" href="css/blackwhite.css">
<body>

<section class="photogallery">
<h1>Photo Gallery</h1>
</section>

<section class="span">
<span class="img1">
    <img class="coloredimg" src="images/black&white/img1.jpg" alt="mandala">
</span>
<span class="img2">
    <img class="coloredimg" src="images/black&white/img2.jpg" alt="mandala">
</span>
<span class="img3">
    <img class="coloredimg" src="images/black&white/img3.jpg" alt="mandala">
</span>
<span class="img4">
    <img class="coloredimg" src="images/black&white/img4.jpg" alt="mandala">
</span>
</section>

<section class="span2">
<span class="img5">
    <img class="coloredimg" src="images/black&white/img5.jpg" alt="mandala">
</span>
<span class="img6">
    <img class="coloredimg" src="images/black&white/img6.jpg" alt="mandala">
</span>
<span class="img7">
    <img class="coloredimg" src="images/black&white/img7.jpg" alt="mandala">
</span>
<span class="img8">
    <img class="coloredimg" src="images/black&white/img8.jpg" alt="mandala">
</span>
</section>

<section class="span3">
<span class="img9">
    <img class="coloredimg" src="images/black&white/img9.jpg" alt="mandala">
</span>
<span class="img10">
    <img class="coloredimg" src="images/black&white/img10.jpg" alt="mandala">
</span>
<span class="img11">
    <img class="coloredimg" src="images/black&white/img11.png" alt="mandala">
</span>
<span class="img12">
    <img class="coloredimg" src="images/black&white/img12.jpg" alt="mandala">
</span>
</section>

<!-- end section -->
<section class="end">
<h2>Stay connected</h2>
</section>

<!-- bottom section -->
<section class="bottom">
<a class="bottomlink" href="https://www.youtube.com/channel/UCPkTs58ssROHdoyeutbqXGA"><img class="bottomimg" src="images/colored/youtube.png" alt="youtube"></a>
<a class="bottomlink" href="https://www.instagram.com/ankita_kundliya/?next=%2F&hl=en"><img class="bottomimg" src="images/colored/instagram.png" alt="instagram"></a>
<a class="bottomlink" href="https://www.facebook.com/Ankitakundliya321"><img class="bottomimg" src="images/colored/facebook.png" alt="facebook"></a>
<a class="bottomlink" href="https://in.pinterest.com/ankita2kundliya/"><img class="bottomimg" src="images/colored/pinterest.png" alt="pinterest"></a>
</section>

</body>

<%- include("partials/footer") -%>
