<%- include("partials/header") -%>
<!-- CSS custom link -->
<link rel="stylesheet" href="css/buy.css">

<body>

<form action="/accCreated" method="post">
  <div class="container">
    <h1>Contact me</h1>
    <div>
      <i class="fa-solid fa-phone-volume fa-2xl" style="color: #4d88d5;"></i> <br>
      <h5>7505726349</h5>
    </div>
    <div>
      <i class="fa-solid fa-paper-plane fa-2xl" style="color: #fbab50;"></i> <br>
      <h5>ankita2kundliya@gmail.com</h5>
    </div>
    <div>
      <i class="fa-brands fa-whatsapp fa-2xl" style="color: #3de640;"></i> <br>
      <h5>7505726349</h5>
    </div>
      <!-- <h2>
        Contact me
      </h2>
      <i class="fa-solid fa-square-phone"></i> Call <br> or <br>
      <i class="fa-brands fa-square-whatsapp" style="color: #1f512e;"></i> Sms on
      <p>7505726349</p> -->
  </div>
</form>

</body>

<%- include("partials/footer") -%>
