<%- include("partials/header") -%>
<!-- CSS custom link -->
<link rel="stylesheet" href="css/learn.css">

<body>
  <!-- top section -->
<section id="top">

  <div class="topdiv" style="background-image:url('./images/learn/L3.jpg');">
  </div>

</section>
<hr>
<!-- mid section -->
<section id="mid">

  <div class="middiv">
    <h1> Start with basics </h1>
    <iframe width="1000" height="500" src="https://www.youtube.com/embed/0yfvwcRI6u0"title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>

</section>

<hr>
<!-- bottom section -->
<section id="bottom">

  <div class="botdiv">
    <h1> Other channels </h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/OiSzGBguPm0" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
    </iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jUtYUAtflsk" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
    </iframe>
  </div>

</section>

<hr>
</body>

<%- include("partials/footer") -%>
