<%- include("partials/header") -%>
<!-- CSS custom link -->
<link rel="stylesheet" href="css/toppicks.css">

<body>

  <section id="top">

  <div class="topdiv">
    <h1> Videos </h1>
  </div>

  </section>


  <!-- video section -->
<section id="mid">

  <span class="col1">
    <video controls>
    <source src="videos/video1.mp4" type="video/mp4">
    </video>
  </span>

  <span class="col1">
    <video controls>
    <source src="videos/video2.mp4" type="video/mp4">
    </video>
  </span>

  <span class="col1">
    <video controls>
    <source src="videos/video3.mp4" type="video/mp4">
    </video>
  </span>

  <span class="col1">
    <video controls>
    <source src="videos/video4.mp4" type="video/mp4">
    </video>
  </span>

  <span class="col1">
    <video controls>
    <source src="videos/video5.mp4" type="video/mp4">
    </video>
  </span>

  <span class="col1">
    <video controls>
    <source src="videos/video6.mp4" type="video/mp4">
    </video>
  </span>

  <span class="col1">
    <video controls>
    <source src="videos/video7.mp4" type="video/mp4">
    </video>
  </span>

  <span class="col1">
    <video controls>
    <source src="videos/video8.mp4" type="video/mp4">
    </video>
  </span>

  <span class="col1">
    <video controls>
    <source src="videos/video9.mp4" type="video/mp4">
    </video>
  </span>

  <span class="col1">
    <video controls>
    <source src="videos/video10.mp4" type="video/mp4">
    </video>
  </span>

  <span class="col1">
    <video controls>
    <source src="videos/video11.mp4" type="video/mp4">
    </video>
  </span>

  <span class="col1">
    <video controls>
    <source src="videos/video12.mp4" type="video/mp4">
    </video>
  </span>

  <span class="col1">
    <video controls>
    <source src="videos/video13.mp4" type="video/mp4">
    </video>
  </span>

  <span class="col1">
    <video controls>
    <source src="videos/video14.mp4" type="video/mp4">
    </video>
  </span>

  <span class="col1">
    <video controls>
    <source src="videos/video15.mp4" type="video/mp4">
    </video>
  </span>

  <span class="col1">
    <video controls>
    <source src="videos/video16.mp4" type="video/mp4">
    </video>
  </span>

  <span class="col1">
    <video controls>
    <source src="videos/video17.mp4" type="video/mp4">
    </video>
  </span>

  <span class="col1">
    <video controls>
    <source src="videos/video18.mp4" type="video/mp4">
    </video>
  </span>

  <span class="col1">
    <video controls>
    <source src="videos/video19.mp4" type="video/mp4">
    </video>
  </span>

  <span class="col1">
    <video controls>
    <source src="videos/video20.mp4" type="video/mp4">
    </video>
  </span>

  <span class="col1">
    <video controls>
    <source src="videos/video21.mp4" type="video/mp4">
    </video>
  </span>

  <span class="col1">
    <video controls>
    <source src="videos/video22.mp4" type="video/mp4">
    </video>
  </span>

</section>


</body>

<%- include("partials/footer") -%>
